<footer>
	<div class="container">
		@@if (leftPanel) {
			<div class="left_panel flex">
				<div class="footer_block address_container flex-nowrap">
					<div class="icon"></div>
					<address>
						<div class="visible">г. Харьков, ул. Сумская, 2,</div>
						<div class="hover">("Пузата Хата"),</div>
						<div class="visible">1 подъезд, 3 этаж, офис 3 <span class="dots">...</span></div>
						<div class="hover">ст. метро "Исторический музей".</div>
					</address>
				</div>
				<div class="footer_block phone_container flex-nowrap">
					<div class="icon"></div>
					<div>
	<!--					<div class="phone_operators">095 067 063</div>-->
						<a href="tel:+380939681066" class="phone_number hover"><span class="phone_operators">093</span> 968 10 66</a>
						<a href="tel:+380671237776" class="phone_number visible"><span class="phone_operators">067</span> 123 777 6</a>
						<a href="tel:+380665890155" class="phone_number visible"><span class="phone_operators">066</span> 589 01 55</a>
					</div>
				</div>
				<div class="footer_block socials_container flex-nowrap">
					<div class="socials">
						<div class="clr">
							<div class="socials_item vk"><a href="https://vk.com/uitschool" target="_blank">Vkontakte</a></div>
							<div class="socials_item instagram"><a href="https://www.instagram.com/uitschool/" target="_blank">instagram</a></div>
						</div>
						<div class="clr">
							<div class="socials_item facebook"><a href="https://www.facebook.com/uitschool/" target="_blank">facebook</a></div>
							<div class="socials_item behance"><a href="#" target="_blank">behance</a></div>
						</div>
					</div>
				</div>
	<!--
				<div class="footer_block sitemap_container flex-nowrap">
					<a href="#" class="sitemap_icon"></a>
				</div>
	-->
			</div>
		}

		@@if (rightPanel) {
			<div class="right_panel">
				<div class="corner_contacts">
					<svg class="svg_main_bg">
						<circle cx="265px" cy="215px" r="215px" class="svg_circle1_1 lg-visible"/>
						<circle cx="289px" cy="231px" r="181px" class="svg_circle1_2 md-visible sm-visible"/>
						<circle cx="265px" cy="215px" r="124px" class="svg_circle2_1 lg-visible"/>
						<circle cx="289px" cy="231px" r="103px" class="svg_circle2_2 md-visible sm-visible"/>
						<circle cx="265px" cy="215px" r="90px" class="svg_circle3_1 lg-visible"/>
						<circle cx="289px" cy="231px" r="55px" class="svg_circle3_2 md-visible sm-visible"/>
						<circle cx="265px" cy="215px" r="85px" class="svg_circle4_1 lg-visible"/>
						<circle cx="289px" cy="231px" r="50px" class="svg_circle4_2 md-visible sm-visible"/>
					</svg>

					<button class="title flex flex-center-v" data-action="open_modal" data-tab-target="#modal_callback_form_tab">
						<span class="first_line">Обратная</span>
						<span class="second_line">связь</span>
					</button>
					<div class="btn_container">
						<div class="vk_container right_panel_btn">
							<svg class="svg_btn_border outer_border">
								<circle cx="50%" cy="50%" r="50px" class="svg_circle5"/>
							</svg>
							<button class="right_panel_btn vk" data-action="open_modal" data-tab-target="#modal_dialog_tab">
								<svg class="svg_btn_border">
									<circle cx="50%" cy="50%" r="49%" class="svg_border_circle"/>
								</svg>
							</button>
						</div>
						<button class="right_panel_btn call" data-action="open_modal" data-tab-target="#modal_callback_form_tab">
							<svg class="svg_btn_border">
								<circle cx="50%" cy="50%" r="49%" class="svg_border_circle"/>
							</svg>
						</button>
						<button class="right_panel_btn right_panel_btn_2 mail" data-action="open_modal" data-tab-target="#modal_contact_form_tab">
							<svg class="svg_btn_border">
								<circle cx="50%" cy="50%" r="49%" class="svg_border_circle"/>
							</svg>
						</button>
						<button class="right_panel_btn right_panel_btn_2 message">
	<!--					data-action="open_modal" data-tab-target="#modal_chat_tab"-->
							<svg class="svg_btn_border">
								<circle cx="50%" cy="50%" r="49%" class="svg_border_circle"/>
							</svg>
						</button>
					</div>
				</div>
			</div>
		}
	</div>
</footer>
