@-webkit-keyframes removing-webkit-autocomplete-style {
	to {
		color: #fff;
		background: transparent;
	}
}


@keyframes appear-opacity {
	form {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes drag-icon {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes inner_page_contact_button_background {
	0% {
		background-position-x: 0%;
	}
	10% {
		background-position-x: 0%;
	}
	40% {
		background-position-x: 50%;
	}
	60% {
		background-position-x: 50%;
	}
	90% {
		background-position-x: 100%;
	}
	100% {
		background-position-x: 100%;
	}
}
