@-webkit-keyframes removing-webkit-autocomplete-style {
	to {
		color: #fff;
		background: transparent;
	}
}


@keyframes appear-opacity {
	form {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes drag-icon {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

