.course_teacher_block {

}

.course_teacher_block .page_slide_content.course_teacher_block_content {
/*	padding: 30px 0;*/
}

.course_teacher_block .course_teacher_block_content_inner {
	position: relative;
}

.course_teacher_block .course_teacher_svg_bg {
	width: 100%;
	height: 100%;
	display: block;
	overflow: visible;
}

.course_teacher_block .course_teacher_svg_bg .centrall_circle {
	stroke: #cacaca;
	fill: transparent;
}

.course_teacher_block .course_teacher_svg_bg .link_line {
	stroke: #000;
}

.course_teacher_block .course_teacher_svg_bg .connection_point {
	fill: #000;
}

.course_teacher_block .main_title {
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	font-size: 20px;
	width: 100%;
	position: relative;
	z-index: 1;
	padding: 0 0 30px;
}

.course_teacher_block .teacher_img_outer_container {
/*	border: 1px solid #cacaca;*/
	border-radius: 50%;
/*	width: 370px;*/
/*	height: 370px;*/
	width: 100%;
	max-width: 370px;
	position: absolute;
}

.course_teacher_block .teacher_img_outer_container .teacher_img_inner_container {
	position: relative;
	max-width: 150px;
}

.course_teacher_block .teacher_img_outer_container .teacher_img {
	border-radius: 50%;
}

.course_teacher_block .thumbnails .thumbnail {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	cursor: pointer;
/*	transition: all ease 1s;*/
}

.course_teacher_block .teacher_img_outer_container .name {
	position: absolute;
	bottom: -30px;
	left: 50%;
	font-weight: 600;
	font-size: 16px;
	white-space: nowrap;
	transform: translateX(-50%);
}

.course_teacher_block .title {
	border: 2px solid #000;
	color: #000;
	padding: 6px 7px;
	font-size: 18px;
	display: inline-block;
	font-weight: 600;
	line-height: 1;
}

.course_teacher_block .description {
	font-weight: 300;
	color: #727272;
	font-size: 14px;
	margin-top: 12px;
	line-height: 25px;
}

.course_teacher_block .description b {
	font-weight: 600;
	font-size: 48px;
	color: #000;
	line-height: 1;
}

.course_teacher_block .teacher_about {
	text-align: left;
	margin-top: 35px;
/*	display: none;*/
}

.course_teacher_block .teacher_about .description {
	text-align: justify;
}

.course_teacher_block .teacher_skills {
/*	display: none;*/
	text-align: left;
	margin-top: 35px;
}

.course_teacher_block .teacher_skills .skill_list {
	letter-spacing: normal;
	padding: 0;
	margin-top: 10px;
	text-align: left;
	margin-left: -10px;
}

.course_teacher_block .teacher_skills .skill_list li {
	display: inline-block;
	height: 36px;
	width: 36px;
/*	background-color: rgba(255, 0, 0, 0.1);*/
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: 5px;
}
.course_teacher_block .teacher_skills .skill_list li + li {
/*	margin-left: 10px;*/
}
.course_teacher_block .teacher_skills .skill_list li.in_dev {
	font-weight: 300;
	color: #727272;
	font-size: 14px;
	line-height: 25px;
	width: auto;
	height: auto;
}

.course_teacher_block .teacher_skills .skill_list li .skill_img {
	width: 100%;
}

.course_teacher_block .teacher_expirience {
	text-align: left;
	margin-top: 35px;
/*	display: none;*/
}

.course_teacher_block .teacher_expirience .description {
	text-align: left;
}

.course_teacher_block *::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	border-radius: none;
	background-color: transparent;
}

.course_teacher_block *::-webkit-scrollbar {
	width: 10px;
	background: linear-gradient(to right, transparent 40%, #e6e6e6 40%, #e6e6e6 60%, transparent 60%);
}

.course_teacher_block *::-webkit-scrollbar-thumb {
	background-color: #e6e6e6;
	-webkit-box-shadow: none;
	border-radius: 0px;
}

@media screen and (min-width: 768px) {

	.course_teacher_block .teacher_about {
		position: absolute;
		width: 340px;
		top: 0;
		left: 0;
		margin-top: 0;
	}

	.course_teacher_block .teacher_skills {
		position: absolute;
		top: 0;
		left: 0;
		margin-top: 0;
	}

	.course_teacher_block .teacher_skills .skill_list {
/*		max-width: 184px;*/
		max-width: 165px;
		overflow-y: auto;
		max-height: 287px;
	}

	.course_teacher_block .teacher_expirience {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		max-width: 131px;
		margin-top: 0;
	}

}

/*@media screen and (max-width: 767px) {*/
@media screen and (max-width: 1199px) {

	.course_teacher_block {
		background: #ffffff;
		padding-top: 70px;
		padding-bottom: 70px;
	}

}

@media screen and (min-width: 992px) {

	.course_teacher_block .main_title {
/*
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		text-align: center;
*/
/*		padding: 15vh 0 30px;*/
		padding: 5vh 0 15px;
	}

	.course_teacher_block .course_teacher_block_content {
		height: 100%;
	}

	.course_teacher_block .teacher_about  {
		padding-bottom: 30px;
	}

	.course_teacher_block .teacher_skills .skill_list {
/*		max-width: 276px;*/
		max-width: 258px;
	}

	.course_teacher_block .teacher_expirience {
		max-width: 175px;
	}

}

@media screen and (min-width: 1200px) {

	.course_teacher_block .teacher_about  {
		text-align: right;
		padding-bottom: 0;
	}

	.course_teacher_block .teacher_about .description {
		text-align-last: end;
		padding-right: 20px;
		margin-right: -20px;
		overflow-y: auto;
		max-height: calc(100vh - 68px - 34px - 230px);
	}

	.course_teacher_block .teacher_skills .skill_list {
/*		max-width: 230px;*/
		max-width: 209px;
		max-height: 164px;
	}

}

@media screen and (min-width: 1500px) {

	.course_teacher_block .teacher_skills .skill_list {
/*		max-width: 368px;*/
		max-width: 346px;
	}

}
