.inner_page_contact_button_container {
	z-index: 2;
	position: fixed;
	bottom: 60px;
	left: 20px;
}

.inner_page_contact_button_container .inner_page_contact_button {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: relative;
	border: none;
	background-color: transparent;
	padding: 0;
	display: block;
/*	transition: background-color ease 1s;*/
	background-image: url(../img/sprites/sprite_side_contacts.png);
	background-size: 400% 200%;
/*	background-position: 0 100%;*/
}
.inner_page_contact_button_container .inner_page_contact_button + .inner_page_contact_button {
	margin-top: 15px;
}
.inner_page_contact_button_container .inner_page_contact_button.phone {
	background-position: 100% 0;
}
.inner_page_contact_button_container .inner_page_contact_button.mail {
	background-position: 200% 0;
}
.inner_page_contact_button_container .inner_page_contact_button.chat {
	background-position: 0 0;
}
.inner_page_contact_button_container .inner_page_contact_button.facebook {
	background-position: 300% 0;
}

/*
.inner_page_contact_button_container .inner_page_contact_button:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	background-image: url(../img/sprites/sprite_inner_page_contact_button.png);
	background-size: 300% 200%;
	background-position: 0 100%;
	animation-direction: alternate;
	animation-name: inner_page_contact_button_background;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
*/

.inner_page_contact_button_container svg.svg_btn_border {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: visible;
	animation-name: inner_page_contact_circle_rotation;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.inner_page_contact_button_container svg.svg_btn_border .svg_border_circle {
	cx: 50%;
	cy: 50%;
	r: 50%;
	fill: transparent;
	stroke-width: 1px;
	stroke: #fff;
	stroke-dasharray: 1,3;
	transform-origin: center center;
	transition:
		transform ease 0.5s,
		stroke ease 1s;
}
.inner_page_contact_button_container .inner_page_contact_button:hover svg.svg_btn_border .svg_border_circle,
.inner_page_contact_button_container .inner_page_contact_button.active svg.svg_btn_border .svg_border_circle {
	transform: scale(1.4);
}
