.page-index .main {
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

/*
.main:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	border-bottom: 1px solid red;
	width: 100%;
}
*/

.page-index .main #index_menu {
	height: calc(100vh - 90px - 90px);
}

.page-index .main .main_inner {
	align-items: center;
	justify-content: flex-end;
}

.page-index .main .right_col,
.page-index .main .left_col {
	width: 100%;
}

.page-index .main .index_menu {
	list-style: none;
	padding: 0;
}
.page-index .main .right_col .index_menu {
	text-align: left;
}
.page-index .main .left_col .index_menu {
	text-align: right;
}

.page-index .main .carousel_list_overflow_container {
	position: relative;
/*	overflow: hidden;*/
}

.page-index .main .carousel_list_overflow_container:before {
	content: "";
	display: block;
	position: absolute;
	height: 78px;
	width: 100vw;
	top: calc(50% - 39px);
	border-top: 2px solid #555555;
	border-bottom: 2px solid #555555;
	transition: border-color ease 0.5s;
}
.page-index .main .active_menu .carousel_list_overflow_container:before {
	border-color: #ffffff;
}
.page-index .main #carousel_menu_right .carousel_list_overflow_container:before {
	left: 0;
}
.page-index .main #carousel_menu_left .carousel_list_overflow_container:before {
	right: 0;
}

@media screen and (max-width: 991px) {

	.page-index .main #carousel_menu_left .carousel_list_overflow_container:before {
		display: none;
	}

}

@media screen and (min-width: 1200px) {

	.page-index .main .carousel_list_overflow_container:before {
		display: none;
	}

}

.page-index .main .carousel_list_container {
	width: 100%;
}

.page-index .main .index_menu li {
	height: 48px;
}

.page-index .main .index_menu li a {
	font-family: 'Raleway', sans-serif;
/*	font-weight: 600;*/
	color: #fff;
	align-items: center;
	position: relative;
	text-transform: uppercase;
	transition:
		color ease 0.5s;
	padding: 0 10px;
	height: 100%;
	font-weight: 200;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: 2px;
}
.page-index .main .right_col .index_menu li a {
	justify-content: flex-start;
}
.page-index .main .left_col .index_menu li a {
	justify-content: flex-end;
}

/*.page-index .main .index_menu li a:hover,*/
.page-index .main .active_menu .index_menu li.active a {
	color: #fffc00;
}

.page-index .main .index_menu li a:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100vw;
/*	border-top: 2px solid transparent;*/
/*	border-bottom: 2px solid transparent;*/
	display: block;
	height: 100%;
	transition: border-color ease 0.5s;
}
.page-index .main .right_col .index_menu li a:before {
	left: 0;
}
.page-index .main .left_col .index_menu li a:before {
	right: 0;
}
/*.page-index .main .index_menu li a:hover:before,*/
/*
.page-index .main .index_menu li.active a:before {
	border-color: #555555;
}
.page-index .main .active_menu .index_menu li.active a:before {
	border-color: #ffffff;
}
*/

.page-index .main .index_menu li a:after {
	content: "";
	position: absolute;
	display: block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	opacity: 0;
	top: calc(50% - 5px);
	transition:
		opacity ease 0.5s,
		right ease 0.5s,
		left ease 0.5s;
}
.page-index .main .right_col .index_menu li a:after {
	border-right: 5px solid #fffc00;
	left: 10px;
}
.page-index .main .left_col .index_menu li a:after {
	border-left: 5px solid #fffc00;
	right: 10px;
}

/*.page-index .main .index_menu li a:hover:after,*/
/*
.page-index .main .active_menu .index_menu li.active a:after {
	opacity: 1;
}
*/
/*.page-index .main .right_col .index_menu li a:hover:after,*/
.page-index .main .right_col .active_menu .index_menu li.active a:after {
/*	left: -20px;*/
	left: -10px;
}
/*.page-index .main .left_col .index_menu li a:hover:after,*/
.page-index .main .left_col .active_menu .index_menu li.active a:after {
/*	right: -20px;*/
	right: -10px;
}

.page-index .main .index_menu li a .scale_elem {
	transform: scale(0.5833333333333333);
	display: block;
	transition:
		left ease 0.5s,
		right ease 0.5s,
		transform ease 0.5s;
	position: relative;
}
.page-index .main .right_col .index_menu li a .scale_elem {
	transform-origin: left center;
	right: 0;
}
.page-index .main .left_col .index_menu li a .scale_elem {
	transform-origin: right center;
	left: 0;
}
/*.page-index .main .index_menu li a:hover .scale_elem,*/
.page-index .main .active_menu .index_menu li.active a .scale_elem {
	transform: scale(1);
}
/*.page-index .main .right_col .index_menu li a:hover .scale_elem,*/
.page-index .main .right_col .active_menu .index_menu li.active a .scale_elem {
/*	right: 15px;*/
}
/*.page-index .main .left_col .index_menu li a:hover .scale_elem,*/
.page-index .main .left_col .active_menu .index_menu li.active a .scale_elem {
/*	left: 15px;*/
}

.page-index .online_courses_btn {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #fff;
	display: block;
	position: absolute;
	z-index: 2;
	text-align: center;
	display: none;
}

.page-index .online_courses_btn .text {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.page-index .online_courses_btn .line {
	display: block;
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
	color: #fffc00;
	font-weight: 700;
	line-height: 0.95;
	letter-spacing: 0.02em;
}
.page-index .online_courses_btn .line + .line {
	font-weight: 300;
	font-size: 21px;
}

.page-index .online_courses_btn svg.svg_btn_border {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.page-index .online_courses_btn svg.svg_btn_border .svg_border_circle {
	cx: 50%;
	cy: 50%;
	r: 46%;
	fill: transparent;
	stroke-width: 1px;
	stroke: #fff;
	stroke-dasharray: 1,3;
	animation-name: inner_page_contact_circle_rotation;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	transform-origin: center center;
}

@media screen and (min-width: 768px) {

	.page-index .main .right_col,
	.page-index .main .left_col {
		width: 250px;
		min-width: 250px;
	}

	.page-index .main .active_menu .index_menu li.active a:after {
		opacity: 1;
	}

	.page-index .main #index_menu {
		height: calc(100vh - 90px - 130px);
	}

	.page-index .online_courses_btn {
		display: block;
	}

}

@media screen and (max-width: 991px) {

	.page-index .main .left_col {
		display: none;
	}

}

@media screen and (min-width: 992px) {

	.page-index .main .main_inner {
		justify-content: space-between;
	}

	.page-index .online_courses_btn {
		width: 150px;
		height: 150px;
	}

	.page-index .online_courses_btn .line {
		font-size: 21px;
	}
	.page-index .online_courses_btn .line + .line {
		font-size: 30px;
	}

}

@media screen and (min-width: 1200px) {

	.page-index .main #index_menu {
		height: calc(100vh - 130px - 130px);
	}

	.page-index .main .index_menu li {
		height: 40px;
	}

	.page-index .main .index_menu li a:before {
		display: none;
	}

	.page-index .main .index_menu li a .scale_elem:before {
		content: "";
		position: absolute;
		bottom: -12px;
		width: 100vw;
		border-bottom: 2px solid #555555;
		display: block;
		height: 100%;
		transition:
			left ease 0.5s,
			right ease 0.5s,
			border-color ease 0.5s;
	}
	.page-index .main .right_col .index_menu li a .scale_elem:before {
		left: 0;
	}
	.page-index .main .left_col .index_menu li a .scale_elem:before {
		right: 0;
	}
	.page-index .main .index_menu li.active a .scale_elem:before {
		border-color: transparent!important;
	}

}
