/*
.page-course.page-english_for_it [data-active-slide="0"] .inner_page_contact_button_container .inner_page_contact_button {
	background-color: #fff;
}
.page-course.page-english_for_it [data-active-slide="1"] .inner_page_contact_button_container .inner_page_contact_button {
	background-color: #000;
}
.page-course.page-english_for_it [data-active-slide="2"] .inner_page_contact_button_container .inner_page_contact_button {
	background-color: #000;
}
.page-course.page-english_for_it [data-active-slide="3"] .inner_page_contact_button_container .inner_page_contact_button {
	background-color: #fff;
}
.page-course.page-english_for_it [data-active-slide="4"] .inner_page_contact_button_container .inner_page_contact_button {
	background-color: #000;
}
.page-course.page-english_for_it [data-active-slide="5"] .inner_page_contact_button_container .inner_page_contact_button {
	background-color: #fff;
}
.page-course.page-english_for_it [data-active-slide="6"] .inner_page_contact_button_container .inner_page_contact_button {
	background-color: #000;
}
.page-course.page-english_for_it [data-active-slide="7"] .inner_page_contact_button_container .inner_page_contact_button {
	background-color: #fff;
}
*/

.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="0"] {
	background-position-y: 100%;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="1"] {
	background-position-y: 0%;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="2"] {
	background-position-y: 0%;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="3"] {
	background-position-y: 100%;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="4"] {
	background-position-y: 0%;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="5"] {
	background-position-y: 100%;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="6"] {
	background-position-y: 0%;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="7"] {
	background-position-y: 100%;
}

.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="0"] svg.svg_btn_border .svg_border_circle {
	stroke: #fff;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="1"] svg.svg_btn_border .svg_border_circle {
	stroke: #000;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="2"] svg.svg_btn_border .svg_border_circle {
	stroke: #000;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="3"] svg.svg_btn_border .svg_border_circle {
	stroke: #fff;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="4"] svg.svg_btn_border .svg_border_circle {
	stroke: #000;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="5"] svg.svg_btn_border .svg_border_circle {
	stroke: #fff;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="6"] svg.svg_btn_border .svg_border_circle {
	stroke: #000;
}
.page-course.page-english_for_it .inner_page_contact_button_container .inner_page_contact_button[data-over-slide="7"] svg.svg_btn_border .svg_border_circle {
	stroke: #fff;
}

@media screen and (min-width: 1200px) {

/*
	.page-course.page-english_for_it [data-active-slide="0"] .inner_page_contact_button_container .inner_page_contact_button {
		background-color: #fff;
	}
	.page-course.page-english_for_it [data-active-slide="1"] .inner_page_contact_button_container .inner_page_contact_button {
		background-color: #000;
	}
	.page-course.page-english_for_it [data-active-slide="2"] .inner_page_contact_button_container .inner_page_contact_button {
		background-color: #fff;
	}
	.page-course.page-english_for_it [data-active-slide="3"] .inner_page_contact_button_container .inner_page_contact_button {
		background-color: #000;
	}
	.page-course.page-english_for_it [data-active-slide="4"] .inner_page_contact_button_container .inner_page_contact_button {
		background-color: #fff;
	}
	.page-course.page-english_for_it [data-active-slide="5"] .inner_page_contact_button_container .inner_page_contact_button {
		background-color: #000;
	}
	.page-course.page-english_for_it [data-active-slide="6"] .inner_page_contact_button_container .inner_page_contact_button {
		background-color: #fff;
	}
*/

	.page-course.page-english_for_it [data-active-slide="0"] .inner_page_contact_button_container .inner_page_contact_button {
		background-position-y: 100%;
	}
	.page-course.page-english_for_it [data-active-slide="1"] .inner_page_contact_button_container .inner_page_contact_button {
		background-position-y: 0%;
	}
	.page-course.page-english_for_it [data-active-slide="2"] .inner_page_contact_button_container .inner_page_contact_button {
		background-position-y: 100%;
	}
	.page-course.page-english_for_it [data-active-slide="3"] .inner_page_contact_button_container .inner_page_contact_button {
		background-position-y: 0%;
	}
	.page-course.page-english_for_it [data-active-slide="4"] .inner_page_contact_button_container .inner_page_contact_button {
		background-position-y: 100%;
	}
	.page-course.page-english_for_it [data-active-slide="5"] .inner_page_contact_button_container .inner_page_contact_button {
		background-position-y: 0%;
	}
	.page-course.page-english_for_it [data-active-slide="6"] .inner_page_contact_button_container .inner_page_contact_button {
		background-position-y: 100%;
	}

	.page-course.page-english_for_it [data-active-slide="0"] .inner_page_contact_button_container svg.svg_btn_border .svg_border_circle {
		stroke: #fff;
	}
	.page-course.page-english_for_it [data-active-slide="1"] .inner_page_contact_button_container svg.svg_btn_border .svg_border_circle {
		stroke: #000;
	}
	.page-course.page-english_for_it [data-active-slide="2"] .inner_page_contact_button_container svg.svg_btn_border .svg_border_circle {
		stroke: #fff;
	}
	.page-course.page-english_for_it [data-active-slide="3"] .inner_page_contact_button_container svg.svg_btn_border .svg_border_circle {
		stroke: #000;
	}
	.page-course.page-english_for_it [data-active-slide="4"] .inner_page_contact_button_container svg.svg_btn_border .svg_border_circle {
		stroke: #fff;
	}
	.page-course.page-english_for_it [data-active-slide="5"] .inner_page_contact_button_container svg.svg_btn_border .svg_border_circle {
		stroke: #000;
	}
	.page-course.page-english_for_it [data-active-slide="6"] .inner_page_contact_button_container svg.svg_btn_border .svg_border_circle {
		stroke: #fff;
	}
}
