/*@media screen and (max-width: 767px) {*/
@media screen and (max-width: 1199px) {

	.page-course.page-web_design .course_partners {
		background: #000;
	}

}

.page-course.page-web_design .course_partners .block_main_title {
	color: #fff;
}

.page-course.page-web_design .course_partners .partners_container .image_container:after,
.page-course.page-web_design .course_partners .partners_container .image_container:before {
	border-color: #fffc00;
}
