@media screen and (min-width: 1200px) {

	.page-course.page-it_sales .course_description .block_main_title {
		font-size: 36px;
		margin-bottom: 12px;
	}

	.page-course.page-it_sales .course_description .text_block p + p,
	.page-course.page-it_sales .course_description .text_block ul + p {
		margin-top: 9px;
	}

	.page-course.page-it_sales .course_description .details_btn {
		margin-top: 25px;
	}

}
